.swiper-slide .container {padding: 7% 10%;}
.swiper-slide .container p {max-width: 400px;}
.sub-menu-tab.active {
    padding: 100px;
    display: block;
}
.sub-menu-tab {
    text-align: center;
    padding: 100px;
    display: none;
}
#navcol-2 {margin-top: 30px;}
.navbar {min-height: 50px;}
.navbar-nav>li>a {transition: .5s;}
.navbar-nav>li>a:hover {transition: .5s;}
.navbar-nav {margin-bottom: -1px !important;}
.navbar-default .navbar-nav>.active>a {
	background-color: #fff !important;
}
@media (min-width:992px) {
  .school-core-value:nth-child(2) {
    margin-left:48px;
  }
}
@media (min-width: 768px) {
	.navbar-nav li a{
		margin-bottom: 0 !important;
		border-bottom: none !important;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
@media (max-width: 768px) {
    #topMenu {
        position: fixed;
        background-color: #fff;
        z-index: 10;
        width: 100%;
    }
    .separator {padding-top: 160px;}
}